<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Add User</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
    <!-- <link rel="stylesheet" href="../css/shards.min.css"> -->
</head>

<body>
    <div class="container my-5">
        <h3> Add User</h3>
        <div class="card">
            <div class="card-body">
                <div class="col-md-10">
                    <form action="#" th:action="@{/user/add}" th:object="${user}" method="post">
                        <div class="row">
                            <div class="form-group col-md-8">
                                <label for="first_name" class="col-form-label">First Name</label> <input type="text" th:field="*{first_name}" class="form-control" id="first_name" placeholder="First Name"> <span th:if="${#fields.hasErrors('first_name')}" th:errors="*{first_name}" class="text-danger"></span>
                            </div>
                            <div class="form-group col-md-8">
                                <label for="middle_name" class="col-form-label">Middle Name</label> <input type="text" th:field="*{middle_name}" class="form-control" id="middle_name" placeholder="Middle Name"> <span th:if="${#fields.hasErrors('middle_name')}" th:errors="*{middle_name}" class="text-danger"></span>
                            </div>
                            <div class="form-group col-md-8">
                                <label for="last_name" class="col-form-label">Last Name</label> <input type="text" th:field="*{last_name}" class="form-control" id="last_name" placeholder="Last Name"> <span th:if="${#fields.hasErrors('last_name')}" th:errors="*{last_name}" class="text-danger"></span>
                            </div>
                            <div class="form-group col-md-8">
                                <label for="email" class="col-form-label">Email</label> <input type="text" th:field="*{email}" class="form-control" id="email" placeholder="Email"> <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="text-danger"></span>
                            </div>

                            <div class="form-group col-md-8">
                                <label for="userid" class="col-form-label">User Id</label> <input type="text" th:field="*{userid}" class="form-control" id="userid" placeholder="User Id"> <span th:if="${#fields.hasErrors('userid')}" th:errors="*{userid}" class="text-danger"></span>
                            </div>
                            
                            <div class="form-group col-md-8">
                                <label for="password" class="col-form-label">Password</label> <input type="password" th:field="*{password}" class="form-control" id="password" placeholder="Password"> <span th:if="${#fields.hasErrors('password')}" th:errors="*{password}" class="text-danger"></span>
                            </div>
                            
                            <div class="form-group col-md-8">
                                <label for="confirm_password" class="col-form-label">Confirm Password</label> <input type="password" th:field="*{confirm_password}" class="form-control" id="confirm_password" placeholder="Confirm Password"> <span th:if="${#fields.hasErrors('confirm_password')}" th:errors="*{confirm_password}" class="text-danger"></span>
                            </div>
                            
                            <div class="form-group col-md-8">
                                <label for="issue_nbr" class="col-form-label">Issue Number</label> 
                                <input type="text" th:field="*{issue_nbr}" class="form-control" id="issue_nbr" placeholder="Issue Number"> <span th:if="${#fields.hasErrors('issue_nbr')}" th:errors="*{issue_nbr}" class="text-danger"></span>
                            </div>
                            
                            <div class="form-group col-md-8">
                                <label for="template_name" class="col-form-label">Template Name</label> 
                            	<select th:field="*{template_name}">
                            		<option th:value="'Template1'" th:text="Template1"></option>
                            		<option th:value="'Template2'" th:text="Template2"></option>
                            		<option th:value="'Template3'" th:text="Template3"></option>
                            		<option th:value="'Template4'" th:text="Template4"></option>
                            		<option th:value="'Template5'" th:text="Template5"></option>
                            	</select>
                            </div>
                            	
                            </div>

                            <div class="col-md-6">
                                <input type="submit" class="btn btn-primary" value="Create User">
                            </div>

                            <div class="form-group col-md-8"></div>

                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>

</html>